@{
    ViewBag.Title = "AdminPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div id="mainContent">
        <h2>AdminPanel</h2>

        <div>
            <h3>You are the admin of Shauli's Blog. it's probably the highlight in your life!</h3>
            <h3>@Html.ActionLink("Branches management system", "RedirectToBranchPage", "Blog")</h3>
        </div>
        <h3>@Html.ActionLink("Fans Managment", "IndexAdmin", "FanClub")</h3>
        <h3>@Html.ActionLink("Branches Report", "BranchesReport", "FanClub")</h3>
        <h3>@Html.ActionLink("Branches Summerize", "BranchesSummery", "FanClub")</h3>
</div>
    </body>
